body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-info {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

.footer {
  width: 100%;
  bottom: 0;
  background-color: #eeeeee;
  height: 60px;
  text-align: center;
}

.footer-text {
  padding: 15px;
}

.card {
  width: 25%;
  text-align: center;
  padding: 8px;
}

img {
  max-width: 100%;
}

p {
  font-size: 16px;
  margin-top: 0;
}

button {
  font-size: 16px;
  text-decoration: none;
  padding: 4px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: #ffaa4c;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

form {
  width: 40%;
}

input {
  font-size: 15px;
  padding: 5px;
  border: 1px solid #21325e;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid #f0a500;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.px-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.error-text {
  color: #890f0d;
}
